<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @team_specs["name"] %></h1>
    <h2>Coach: <%= @team_specs["coach"] %></h2>
    <h2>Point Guard: <%= @team_specs["pg"] %></h2>
    <h2>Shooting Guard: <%= @team_specs["sg"] %></h2>
    <h2>Power Forward: <%= @team_specs["pf"] %></h2>
    <h2>Small Forward: <%= @team_specs["sf"] %></h2>
    <h2>Center: <%= @team_specs["c"] %></h2>


 </body>
</html>


